body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a2734;
    color: #333;
}

header {
    background-color: #1a2734;
    color: white;
    padding: 15px 50px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

.form-container, .job-listings-container {
    margin: 40px auto;
    padding: 20px;
    background: white;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, textarea, select, button {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    background-color: #ff8c42;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #e17b34;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}